<!doctype html>
<html>
<head>
  <title>Expenses</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
  <link rel="stylesheet" href="./main.css">
  <!-- sync scripts - stop parsing until loaded -->
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous">
  </script>
  <!-- async scripts - continue parsing -->
  <script
    type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"
    async>
  </script>
  <script
    type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"
    async>
  </script>
  <script
    type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"
    async>
  </script>
  <script
    type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5-min.js"
    async>
  </script>
  <script
    type="text/javascript"
    src="./main.js"
    async>
  </script>
</head>
<body>
  <div class="ui container">
    <a class="launch icon item" id="menuShowStats">
      <i class="big link icons">
        <i class="content icon"></i>
        <i class="corner line chart icon"></i>
      </i>
    </a>
    <a class="launch icon item" id="menuRefresh">
      <i class="big link icons">
        <i class="content icon"></i>
        <i class="corner refresh icon"></i>
      </i>
    </a>
    <a class="launch icon item" id="menuAdd">
      <i class="big link icons">
        <i class="content icon"></i>
        <i class="corner add icon"></i>
      </i>
    </a>
    <a class="launch icon item" id="menuRefreshUsers">
      <i class="big link icons">
        <i class="user icon"></i>
        <i class="corner refresh icon"></i>
      </i>
    </a>
    <a class="launch icon item" id="menuSignin">
      <i class="big link icons">
        <i class="user icon"></i>
        <i class="corner sign in icon"></i>
      </i>
    </a>
    <a class="launch icon item" id="menuSignup">
      <i class="big link icons">
        <i class="user icon"></i>
        <i class="corner plus icon"></i>
      </i>
    </a>
  </div>
  <div class="ui container" id="filters1">
    <div class="ui form">
      <div class="inline fields">
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="2017-01-01" name="minDate" type="date">
            <i class="calendar outline icon"></i>
            <a class="ui tag label">
              min
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="2017-01-01" name="maxDate" type="date">
            <i class="calendar outline icon"></i>
            <a class="ui tag label">
              max
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="13:23:42" name="minTime" type="time">
            <i class="empty hourglass icon"></i>
            <a class="ui tag label">
              min
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="13:23:42" name="maxTime" type="time">
            <i class="empty hourglass icon"></i>
            <a class="ui tag label">
              max
            </a>
          </div>
        </div>
      </div>
      <div class="ui error message"></div>
    </div>
  </div>
  <div class="ui container" id="filters2">
    <div class="ui form">
      <div class="inline fields">
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="7.2" name="minAmount" type="number" step="0.1">
            <i class="dollar icon"></i>
            <a class="ui tag label">
              min
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="7.2" name="maxAmount" type="number" step="0.1">
            <i class="dollar icon"></i>
            <a class="ui tag label">
              max
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="title..." name="description" type="text">
            <i class="search icon"></i>
            <a class="ui tag label">
              title
            </a>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui mini right labeled left icon input">
            <input placeholder="comment..." name="comment" type="text">
            <i class="search icon"></i>
            <a class="ui tag label">
              comment
            </a>
          </div>
        </div>
      </div>
      <div class="ui error message"></div>
    </div>
  </div>

  <div class="ui long modal" id="signup">
    <div class="ui inverted segment">
      <div class="header">
        <i class="large add user icon"></i>
        Sign Up
      </div>
      <div class="ui form">
          <div class="field">
            <a class="ui red ribbon label">E-mail</a>
            <input name="email" placeholder="your@email.com" type="email">
          </div>
          <div class="field">
            <a class="ui red ribbon label">Password</a>
            <input name="password" type="password">
          </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>

  <div class="ui long modal" id="signin">
    <div class="ui inverted segment">
      <div class="header">
        <i class="large sign in icon"></i>
        Sign In
      </div>
      <div class="ui form">
          <div class="field">
            <a class="ui red ribbon label">E-mail</a>
            <input name="email" placeholder="your@email.com" type="email">
          </div>
          <div class="field">
            <a class="ui red ribbon label">Password</a>
            <input name="password" type="password">
          </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>

  <div class="ui long modal" id="userPatch">
    <div class="ui inverted segment">
      <div class="header">
        <i class="large user icon"></i>
        User
      </div>
      <div class="ui form">
          <div class="field">
            <a class="ui red ribbon label">E-mail</a>
            <input name="email" placeholder="your@email.com" type="email">
          </div>
          <div class="field">
            <a class="ui red ribbon label">Role</a>(user | manager | admin)
            <input name="role" placeholder="user | manager | admin" type="text">
          </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>

  <div class="ui long modal" id="expensePost">
    <div class="ui segment">
      <div class="header">
        <i class="large dollar icon"></i>
        Expense
      </div>
      <div class="ui form">
          <div class="field">
            <a class="ui red ribbon label">amount</a>
            <input name="amount" type="number" step="0.1">
          </div>
          <div class="field">
            <a class="ui red ribbon label">description</a>
            <input name="description" type="text">
          </div>
          <div class="field">
            <a class="ui red ribbon label">comment</a>
            <input name="comment" type="text">
          </div>
          <div class="field">
            <a class="ui red ribbon label">date</a>
            <input name="date" type="date">
          </div>
          <div class="field">
            <a class="ui red ribbon label">time</a>
            <input name="time" type="time">
          </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>

  <div class="ui long modal" id="expensePatch">
    <div class="ui segment">
      <div class="header">
        <i class="large dollar icon"></i>
        Expense
      </div>
      <div class="ui form">
          <div class="field">
            <a class="ui red ribbon label">amount</a>
            <input name="amount" type="number" step="0.1">
          </div>
          <div class="field">
            <a class="ui red ribbon label">description</a>
            <input name="description" type="text">
          </div>
          <div class="field">
            <a class="ui red ribbon label">comment</a>
            <input name="comment" type="text">
          </div>
          <div class="field">
            <a class="ui red ribbon label">date</a>
            <input name="date" type="date">
          </div>
          <div class="field">
            <a class="ui red ribbon label">time</a>
            <input name="time" type="time">
          </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>

  <div class="ui five column stackable padded grid">
  </div>

  <div class="ui middle aligned divided list">
  </div>
</body>
</html>